fastapi==0.110.0
uvicorn==0.29.0

torch==2.2.2
torchvision==0.17.2
transformers==4.40.1

numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.4
scikit-learn==1.4.2

tqdm==4.66.4
pillow==10.3.0

gradio==4.31.5
pyngrok==7.1.6
nest_asyncio==1.6.0

wandb==0.16.6

python-multipart==0.0.9
