# Core
numpy==2.0.2
pandas==2.2.2
scikit-learn==1.5.1

# Transformers / NLP
transformers==4.41.2
sentence-transformers==2.7.0

# UI
gradio==5.50.0
gradio_client==1.14.0

# PyTorch (CPU, auto-compatible)
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2

# Optional lightweight utils
torchsummary==1.5.1
